//  colors
$crop-green: #4e9c4a;
$crop-dark-blue: #11566f;
$crop-teal-blue: #118ba0;
$crop-red: #f94444;
$crop-bg-gradient: linear-gradient(#ffffff, #b5dbdb, #b7d7b9);
$graph-low: #5da5bd;
$graph-mid: #991a3d;
$graph-high: #f94444;
$input-border-color: #9c9c9c;