<div class="card ">
    <div class="card-title text-left text-uppercase">
        Optimization
    </div>
    <div class="card-body ">
        <ul class="opt">
            <li *ngFor="let optimization of optimizations">
                <img class="opt-icon" src="assets/images/icon-{{optimization.icon}}.png" />
                <a href="#" class="text-success">
                    <span class="opt-title">{{optimization.name}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>